h1 {
  color: purple;
  font-size: 60px;
}

#bear-photo {
  width: 250px;
}

.special {
  color: teal;
  font-size: 30px;
  border: 1px solid teal;
}

input[type="password"] {
  height: 50px;
  width: 100px;
}
.done{
  color:gray;
  text-decoration: line-through;
  opacity: 50%;
}