@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, Outfit, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-size: 1.6rem;
}
h1{
  font-size: 6rem;
}

.App{
  width: 100%;
  height: 100vh;
  position: relative;
  background-color:rgba(0,0,0,0.4);
  color:#fff;
}

.App:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/sunset.jpg');
  z-index: -1;
}

.App .search{
  text-align: center;
  padding: 1rem;

}

.App input{
  padding: .7rem 1.5rem;
  font-size: 1.2rem;
  border-radius : 25px;
  border:1px solid rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.8);
}

::placeholder{
  color: rgba(255, 255, 255, 0.8);
}
.container{
  max-width: 700px;
  height: 500px;
  margin: auto;
  padding :0 1rem;
  position :relative;
  top:10%;
  display: flex;
  flex-direction:column ;
  justify-content: space-between;
}

.App .top{
  width : 100%;
  margin: 1rem auto;
}

.App .description{
  position : relative;
  right:-90%;
  transform-origin: 0 0;
  transform: rotate(269deg);
}

.App .bottom{
display: flex;
justify-content: space-between;
text-align: center;
width:100%;
margin:1rem auto;
padding:1rem;
border-radius: 12px;
background-color: rgba(255, 255, 255, 0.2);
}

.bold{
  font-weight: 700;
}