@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Libre+Baskerville:ital@1&family=New+Tegomin&family=Roboto:wght@300&family=Varela+Round&display=swap');


*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: rgb(68, 4, 68);
    color: white;
    height: 60px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    font-family: 'New Tegomin', serif;
}

nav ul{
    list-style-type: none;
}

.gameContainer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: rgb(233, 223, 241);
}

.gameInfo{
    padding: 0 34px;
    font-family: 'Baloo Bhaina 2', cursive;
}

.gameInfo h1{
    font-size: 2.5rem;
}

.imageBox img{
    width: 0;
    transition: width 1s ease-in-out;
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

#reset{
    margin: 0 24px;
    padding: 1px 18px;
    background-color: rgb(248, 209, 248);
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Baloo Bhaina 2';
    font-size: 15px;
    font-weight: bolder;
}

.info{
    font-size: 22px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

.line{
    background-color: black;
    width: 0;
    height: 3px;
    position: absolute;
    background-color: #911d91;
    transition: width 1s ease-in-out;
}

@media screen and (max-width: 950px)
{
    .gameContainer{
        flex-wrap: wrap;
    }

    .gameInfo{
        margin-top: 34px;
    }

    .gameInfo h1{
        font-size: 1.5rem;
    }

    .container{
        display: grid;
        grid-template-columns: repeat(3, 20vw);
        grid-template-rows: repeat(3, 20vw);
        font-family: 'Roboto', sans-serif;
    }

    .line {
        visibility: hidden;
    }
}