<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/meeting_end_style.css">
    <title>Meet</title>
</head>

<body>
    <div id="root">
        <div id="left-message">You left the meet</div>
        <div id="span-div">
            <a href="/room/<%= roomId %>">
                <div id="rejoin">Rejoin</div>
            </a>
            <a href="/">
                <div id="home">Return to home screen</div>
            </a>
        </div>
    </div>


</body>

</html>